<!DOCTYPE html>
<html lang="zh-Hant-TW" dir="ltr">
        <center>
          <head>
           <meta charset="utf-8">

           <title>Credict Card Detection</title>
          </head>


          <h1>信用卡違約偵測</h1>
          <br>
          <br>
          <body>
            <form  method="post">
                歸戶帳號: <input type="text" name="bacno" value="27289"/>
                交易序號: <input type="text" name="txkey" value="663810"/>
                授權日期: <input type="text" name="locdt" value="14"/><br>
                授權時間: <input type="text" name="loctm" value="225838"/>
                交易卡號: <input type="text" name="cano" value="182834"/>
                交易類別: <input type="text" name="contp" value="5"/><br>
                交易型態: <input type="text" name="etymd" value="8"/>
                特店代號: <input type="text" name="mchno" value="20980"/>
                收單行代碼: <input type="text" name="acqic" value="5580"/><br>
                MCC_CODE: <input type="text" name="mcc" value="269"/>
                交易金額-台幣: <input type="text" name="conam" value="1163.03"/>
                網路交易註記: <input type="text" name="ecfg" value="Y"/><br>
                分期交易註記: <input type="text" name="insfg" value="N"/>
                分期期數: <input type="text" name="iterm" value="0"/> 
                消費地國別: <input type="text" name="stocn" value="104"/><br>
                消費城市: <input type="text" name="scity" value="1120"/>
                狀態碼: <input type="text" name="stscd" value="0"/>
                超額註記碼: <input type="text" name="ovrlt" value="N"/><br>
                Fallback 註記: <input type="text" name="flbmk" value="UNKNOWN"/>
                支付形態: <input type="text" name="hcefg" value="6"/>
                消費地幣別: <input type="text" name="csmcu" value="75"/><br>
                3DS 交易註記: <input type="text" name="flg_3dsmk" value="UNKNOWN"/>
                

                       <input type="submit">
            </form>


            <p>result: {{ result }}  </p>
            

          </body>
        </center>
</html>


